* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #DEFF30;
  height: 90%;
  font-family: 'Courier New', Courier, monospace;
}

.wrapper {
  color: #DEFF30;
  width: 80%;
  margin: 20% auto;
  text-align: center;
}

h1, p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.5em;
}

#seconds, #tens {
  font-size: 1.5em;
}

button {
  position: relative;
  border-radius: 0.25em;
  font-size: 3rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #39FF14;
  border: #39FF14 4px solid;
  padding: 0.25em 1em;
  text-shadow: 0 0 0.125em white, 0 0 0.25em currentColor;
  -webkit-box-shadow: inset 0 0 1em 0 #39FF14, 0 0 1em 0 #39FF14;
          box-shadow: inset 0 0 1em 0 #39FF14, 0 0 1em 0 #39FF14;
}

button::before {
  content: '';
  position: absolute;
  background: #39FF14;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
          transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
}
