* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #E05E89;
  color: set-text-color(#DEFF30);
  height: 50vh;
}

.wrapper {
  color: #DEFF30;
  width: 80%;
  text-align: center;
}

button {
  border-radius: 5px;
  background: #E05E89;
}
